

<div class="mt-4" style="margin: 50px ;">
    <form method="post" action="">
        <div class="form-gourp">
            <label for ="search-input">Từ Khóa</label>   
            <input type="text" name="q" class="form-control" id="search-input" placeholder="nhập từ khóa"/>
        </div>

          <div class="form-gourp">
            <label for ="gender-input">Từ Khóa</label>   
            <select name="gender" class="form-control" id="gender-input" >
                <option value="gender">chọn giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
                <select/>
        </div>
        <button type="submit" class="btn btn-primary">tìm kiếm</button>
    </form>
</div>